@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Work+Sans:200,400,600&display=swap');

#page-container {
background: linear-gradient(#212c2a, transparent 30%),
            linear-gradient(0deg, #e7ebe4, transparent 70%),
            #212c2a url(..//img/alan-scales-1_WMZARl81c-unsplash.jpg) no-repeat center;
background-size: cover;
} 

.content-wrap {
padding-bottom: 2.5rem;
}

.container{
padding-top:40px;
padding-bottom:80px;
background: linear-gradient(#212c2a, transparent 0%),
            linear-gradient(0deg, #e7ebe4, transparent 100%),
            #e7ebe4 url(..//img/annie-spratt-xTaOPMa6wAE-unsplash.jpg) no-repeat center;
background-size: cover;
opacity: .90;
color: black;
}

.navbar {
background-color: #212c2a;
color: white;
}

.navbar-brand {
font-family: 'Montserrat', sans-serif;
font-size: 32px;
font-weight: 900;
letter-spacing: 0.2em;
}

.navbar-nav {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 200;
float: right;
}

/* a:link {
    color: #e7ebe4;
    text-decoration: none;
}
  
a:visited {
    color: #d0a569;
}

a:hover {
    color: #847574;
} */
  
h1 {
font-family: 'Montserrat', sans-serif;
font-weight: 600;
padding-top: 10px;
}

h2{
font-family: 'Montserrat', sans-serif;
}

.p {
font-family: 'Montserrat', sans-serif;
}

.img-fluid {
max-width: 100%;
height: auto;
margin-right: 10px;
}

.caption {
background-color: #d0a569;
text-align: center;
font-family: 'Source Sans Pro', sans-serif;
color: #212c2a;
font-weight: bolder;
}

footer {
border-top: 2px solid ;
background-color: #212c2a;
color: #e7ebe4;
font-family: 'Montserrat', sans-serif;
position: fixed;
bottom: 0px;
width: 100%;
height: 60px;
}





/* NOTES TO SELF --------------------------- */

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Source Sans Pro', sans-serif; */

/* 
light grey: #e7ebe4
whisky tan: #d0a569
punch red: #cd212a
hurricane grey: #847574
green space: #212c2a */